<div class="header">

    <a href="/index.html"><picture class="logo-container">
    	{% if page.two_col == true %}
        <source srcset="/img/npctalklogo2.png" type="image/svg+xml">
        <img src="/img/npctalklogo2.png" class="logo" alt="npc-talk-logo">
        {% else %}
        <source srcset="/img/banner.png" type="image/svg+xml">
        <img src="/img/banner.png" class="logo" alt="npc-talk-logo">
        {% endif %}

    </picture></a>



    <div class="title-container">
        <h1><a href="/index.html">Incronaut</a></h1>
    </div>

    {% include nav.html %}

</div>