---
layout: default
comments: false
---

<div class="episode">
    <h2>{{page.number}}. {{page.title}}</h2>

    {{ content }}

    <!--<audio controls>
        <source src="{{ page.aac_asset_link}}" type="audio/mp4">
        <source src="{{ page.ogg_asset_link}}" type="audio/ogg">
        Sorry, your browser does not support the <code>audio</code> element.
    </audio>-->
    <br/>
    <br/>
    <div class="icon-mic"><strong>Recorded:</strong> <em>{{page.date | date: "%-d %B %Y"}}</em></div>
    <div class="icon-tag"><strong>Featured Segments:</strong> <em>{{page.segments}}</em></div>
    <div class="icon-download"><strong><a href="{{page.link}}" class="download-link">Download</a></strong></div>
</div>